body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  outline: 1px solid red;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
  display: flex;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-item {
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-lin::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.navigation-lin {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover::after,
.navigation-link:focus::after {
  width: 100%;
  color: #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section hero */

.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Section About us */
.about-us {
}
.conteiner-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background: #f4f4fd;
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.about-us-list {
  display: flex;
  gap: 24px;
}
.about-us-item {
  width: 264px;
  /* height: 104px; */
}
.feature-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Section Our Team */

.sec-team {
  background: #f4f4fd;
}
.sec-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.sec-team-list-member {
  display: flex;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-team-item-member {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.sec-team-member-img {
}
.conteiner-name-prof {
  padding: 32px 0;
}
.sec-team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.sec-prof-team-member {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.sec-two-svg {
  fill: #f4f4fd;
}
.sec-three-svg {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-three-svg:hover,
.sec-three-svg:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section Portfolio */
.section {
}
.sec-portfolio {
}
.sec-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.sec-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.sec-portfolio-item {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-potfolio-img {
  position: relative;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--iris);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .overlay-content {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
} */
.sec-portfolio-item:hover p {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.conteiner-name-portf {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.sec-portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.sec-portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Modal */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}
.svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  opacity: 1;
}
.modal-open-icon {
  opacity: 0;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  opacity: 0;
}
.modal-close-btn:hover .modal-open-icon,
.modal-close-btn:focus .modal-open-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-last {
  margin-bottom: 16px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Анімація для зміни кольору */
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-field-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}

.comment {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.conteiner-checkbox {
  margin-bottom: 24px;
}
.input-check:active {
  fill: #404bbf;
}

.modal-privacy {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}
.icon-checkbox {
  opacity: 0;
  /* width: 18px;
  height: 24px;
  margin-bottom: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
input:checked + .span-checkbox {
  fill: #f4f4fd;
}
.input-check:checked + .modal-privacy .span-checkbox .icon-checkbox {
  fill: #f4f4fd;
}
input:checked + .modal-privacy .span-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.input-check:checked + .modal-privacy .span-checkbox .icon-checkbox {
  opacity: 1;
}
.privacy-policy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.btn-send {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.span-ckeckbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: var(--light-slate);
}

/* Footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-a {
  display: inline-block;
}
.footer-logo {
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-bottom: 16px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}
.footer-social-list-link {
  display: flex;
  gap: 16px;
  align-items: center;
  min-width: 208px;
  margin-top: 16px;
}

.p-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  margin-right: 80px;
}
.social-icon-link {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-svg-link:hover,
.footer-svg-link:focus {
  background-color: var(--green);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-conteiner-logo {
  margin-right: 120px;
}

.footer-svg {
  fill: #f4f4fd;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-cuption-sub {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-sub {
  display: flex;
  gap: 24px;
}
.label-sub {
}
.input-sub {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background: #2e2f42;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
}
.input-sub::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}
.btm-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
svg.icon-btm-sub {
  margin-left: 16px;
}
.conteiner-checkbox {
  margin-bottom: 24px;
}

.modal-privacy {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}

.icon-checkbox {
  opacity: 0;
}

input:checked + .modal-privacy .span-ckeckbox {
  background-color: #404bbf;
  border: none;
}

.input-check:checked + .modal-privacy .span-ckeckbox .icon-checkbox {
  opacity: 1;
}

.span-ckeckbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}

.input-check:checked + .modal-privacy .span-ckeckbox .icon-checkbox {
  opacity: 1;
}

@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1158px) {
}
